// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.user{

    &__img{

        img{
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    }

    &__text{


        &>.row{
            align-items: center;
            justify-content: start;

            &:not(:last-of-type){
                margin-bottom: 15px;
            }
        }


    }

}

.post{

    &__image{
        img{

            border-radius: 5px;
        }
    }

    &__text{

        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        &--user{
            display: flex;
            align-items: center;
            max-width: 100%;
            font-weight: bold;
            text-decoration: none;
            img{
                width: 45px;
                height: 45px;
                object-fit: cover;
                border-radius: 50%;;
            }

            p{
                margin-bottom: 0;
                margin-left: 16px;
            }
        }
        hr{
            width: 100%;
        }
        &--caption{
            a{
                font-weight: bold;
                text-decoration: none;
                color: black;
            }


            width: 100%;
        }

        &--follow{
            align-self: center;
            margin-left: 15px;
            text-decoration: none;
        }
    }
}



