<template>
    <div>
        <button class="btn btn-info text-white" @click="follow">{{isFollowing}}</button>
    </div>
</template>

<script>
    export default {
        props: [
            'dataUserId',
            'dataFollows'
        ],
        data: function () {
            return {

                follows: this.$props.dataFollows
            }
        },

        methods: {
            async follow() {
                try {

                    var response = await axios.post(`/follow/${this.$props.dataUserId}`);
                    console.log(response.data);
                    this.$data.follows = !this.$data.follows;
                } catch (error) {
                    console.log(error);
                }
            }
        },
        computed: {
            isFollowing: function () {
                return this.follows ? 'Dejar de seguir' : 'Seguir'
            }
        }
    }
</script>
